:root {
  --color-primary: crimson;
  --color-primary-translucent: rgba(220, 20, 60, 0.5);
  --color-secondary: #7b1023;
  --color-text: white;
  --color-background: #1d1e22;
  --color-focus: dodgerblue;
  --bs-focus: 0 0 0 0.1em var(--color-focus);
  --bs-bottom-focus: 0 0.1em 0 0 var(--color-focus);
}
html {
  font-family: sans-serif;
}
body {
  min-height: 100vh;
  background-color: var(--color-background);
  color: var(--color-text);
}
.btn {
  background-color: var(--color-primary);
  color: var(--color-text);
  border-radius: 0.2rem;
  font-size: inherit;
  cursor: pointer;
  border: none;
  font-variant: all-small-caps;
  padding: 0.07em 0.4em 0.17em;
  transition-property: background-color, transform;
  transition-duration: 0.3s;
  transition-timing-function: ease;
}
.btn:hover {
  background-color: var(--color-secondary);
}
.btn:active {
  transform: translateY(0.05em);
}
.btn:focus {
  outline: none;
  box-shadow: var(--bs-focus);
}
.non-btn {
  padding: 0;
  background: none;
  border: none;
  font: inherit;
  color: inherit;
}
.textarea {
  background: rgba(255, 255, 255, 0.1);
  color: var(--color-text);
  border: 0.2rem solid var(--color-primary);
  border-radius: 0.3em;
  min-height: 12em;
  font-size: 0.65em;
  width: 50vw;
  margin-top: 0.375em;
  transition: background-color 0.3s ease;
}
.textarea:focus {
  box-shadow: 0 0 0 0.15em var(--color-focus);
  background: rgba(255, 255, 255, 0.07);
}
:root {
  --scroll-width: 10px;
}
::-webkit-scrollbar {
  width: var(--scroll-width);
}

::-webkit-scrollbar-track {
  width: var(--scroll-width);
}

::-webkit-scrollbar-thumb {
  background-color: #4c4f54;
  width: var(--scroll-width);
}
::-webkit-resizer {
  background-color: #4c4f54;
  width: 15px;
  height: 15px;
}
