.app-header {
  display: flex;
  padding: 0.25em;
  border-bottom: 0.2rem solid var(--color-primary);
  align-items: center;
}
.app-header__brand {
  font-size: 3em;
  user-select: none;
  font-weight: bold;
}
.app-header__overflow-button {
  padding: 0.2rem;
}
.app-header__actions-container {
  margin-left: auto;
  position: relative;
  z-index: 2; /* Ensures this appears on top of timeline content */
}
.app-header__actions {
  margin-right: 1em;
  display: flex;
  flex-direction: row;
  align-items: center;
}
.app-header__nav {
  font-size: 1.25em;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.app-header__nav__link {
  margin: 0 1em 0;
}
@media only screen and (max-width: 1200px) {
  .app-header__actions {
    margin-right: 0;
    flex-direction: column;
    position: absolute;
    top: calc(100% + 2rem);
    right: 0;
    background-color: var(--color-background);
    border: 0.2rem solid var(--color-primary);
    box-shadow: 0 0.2rem 0.4rem rgba(20, 20, 20, 0.2);
    padding: 0.5em 0;
  }
  .app-header__nav__link {
    padding: 0.5em;
  }
  .app-header__actions::before {
    pointer-events: none;
    content: "";
    position: absolute;
    bottom: 100%;
    right: 0;
    display: inline-block;
    border: 2rem solid transparent;
    border-bottom-color: var(--color-primary);
  }
  .app-header__nav {
    flex-direction: column;
  }
}
