.candy-box {
  font-size: 150%;
  display: grid;
  grid-template-columns: repeat(3, 0.2em);
  grid-template-rows: repeat(3, 0.2em);
  grid-gap: 0.2em;
  padding: 0.2em;
}
.candy-box__dot {
  display: inline-block;
  background-color: var(--color-text);
}
