.candy-box {
  display: grid;
  grid-template-columns: repeat(3, 0.3em);
  grid-template-rows: repeat(3, 0.3em);
  grid-gap: 0.3em;
  padding: 0.3em;
}
.candy-box__dot {
  display: inline-block;
  background-color: var(--color-text);
}
