.entity-form {
  display: inline-flex;
  flex-direction: column;
}
.entity-form > * {
  margin: 0.5em;
}
.entity-form [type="submit"] {
  align-self: flex-start;
}
.date-fieldset {
}
.date-fieldset__legend {
  border-bottom: 0.2em solid var(--color-primary);
  margin-bottom: 0.2em;
}
.date-fieldset__inputs {
  display: flex;
  align-items: flex-end;
}
.date-fieldset__inputs > :first-child {
  margin-right: 0.5em;
}
.description__label {
  display: flex;
  flex-direction: column;
}
.form-actions {
  display: flex;
}
.form-actions > * {
  margin: 0 0.5em;
}
.form-actions > *:first-child {
  margin-left: 0;
}
.form-actions > *:last-child {
  margin-right: 0;
}
