.entity-index {
  grid-area: index;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  min-width: var(--index-width);
  width: var(--index-width);
  font-size: 150%;
}
.entity-index__inner {
  width: 100%;
}
.entity-index__search-form__search-input {
  width: 100%;
  border: none;
  background-color: transparent;
  border-bottom: 0.2rem solid var(--color-primary);
  color: var(--color-text);
  margin-bottom: 0.5em;
}
.entity-index__search-form {
  width: 100%;
}
.entity-index__search-form__search-input:focus {
  outline: none;
  box-shadow: var(--bs-bottom-focus);
}
.entity-index__results {
  border-left: 0.2rem solid;
  overflow-y: scroll;
}
.entity-index__result {
  position: relative;
  padding-left: 0.75em;
  line-height: 1.1em;
}
.entity-index__result::before {
  content: " ";
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  height: 0.1em;
  width: 0.5em;
  display: inline-block;
  background-color: var(--color-text);
}
.entity-index__result__button {
  text-align: left;
  text-decoration: underline;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  width: calc(var(--index-width) - 0.75em - 0.2rem - var(--scroll-width));
  transition: text-decoration-color 0.3s ease;
}
.entity-index__result--empty .entity-index__result__button {
  text-decoration-color: var(--color-primary);
}
.entity-index__result__button:focus {
  outline: none;
  text-decoration-color: var(--color-focus);
}
.timeline-event__group {
  display: flex;
}
