.entity-card {
  width: 50ch;
  display: flex;
  flex-direction: column;
  padding: 1rem;
}
.entity-card__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 0.5em;
}
.entity-card__title {
  font-size: 1.25em;
  border-bottom: 0.2rem solid var(--color-primary);
}
.entity-card__times {
  font-size: 1.25em;
  flex-shrink: 0;
}
.entity-card__description {
  white-space: pre-line;
}
.entity-card__footer {
  font-size: 0.75em;
  align-self: flex-end;
}
