.entity-lists {
  position: relative;
  display: grid;
  grid-template:
    "index" 100vh
    "timeline" auto;
}
@media only screen and (min-width: 1200px) {
  .entity-lists {
    font-size: 1.5rem;
    --index-width: 20vw;
    grid-template:
      "timeline index" /
      minmax(0, 1fr) var(--index-width);
    width: 100%;
  }
}
