.match-quiz {
  display: flex;
  flex-direction: column;
  margin-top: 1rem;
  align-items: center;
}
.match-quiz__title {
  font-size: 200%;
  border-bottom: 0.2rem solid var(--color-primary);
}
.match-quiz__description-list {
  margin-top: 1rem;
  display: grid;
  grid-template-columns: 100%;
  grid-gap: 1rem;
  max-width: 1200px;
}
@media only screen and (min-width: 1000px) {
  .match-quiz__description-list {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }
}
.match-quiz__description-list-item {
  display: flex;
  width: 100%;
  height: 100%;
}
.match-quiz__description-list__button {
  font-size: 125%;
  width: 100%;
  height: 100%;
  text-align: left;
  white-space: pre-wrap;
  background-color: var(--color-primary);
  padding: 1rem;
}
