.match-quiz {
  display: flex;
  flex-direction: column;
  margin-top: 1rem;
  align-items: center;
  --index-width: 100vw;
}
@media only screen and (min-width: 1000px) {
  .match-quiz {
    --index-width: 25vw;
  }
}
.match-quiz__answer-card {
  position: relative;
}
.match-quiz__answer-card:last-child {
  margin-bottom: 1em;
}
.match-quiz__description {
  white-space: pre-wrap;
  max-width: 800px;
  margin-bottom: 1em;
}
