.reorderable-list {
  display: flex;
  flex-direction: column;
}
@media screen and (min-width: 1200px) {
  .reorderable-list {
    display: grid;
    grid-template-columns: repeat(5, minmax(0, 1fr));
  }
}

.reorderable-list__item {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  order: var(--order);
  user-select: none;
  min-width: calc(var(--drag-width) * 1px);
  min-height: calc(var(--drag-height) * 1px);
}
.reorderable-list__item:hover {
  background-color: rgba(255, 255, 255, 0.2);
}
.reorderable-list__item__content {
  padding: 2rem;
  background-color: var(--color-primary);
}
.reorderable-list__item--dragging .reorderable-list__item__content {
  pointer-events: none;
  touch-action: none;
  position: fixed;
  top: calc((var(--mouse-y) - var(--drag-y)) * 1px);
  left: calc((var(--mouse-x) - var(--drag-x)) * 1px);
  width: calc(var(--drag-width) * 1px);
  height: calc(var(--drag-height) * 1px);
}
