.reorderable-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.reorderable-list__item {
  padding: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  order: var(--order);
  user-select: none;
}
.reorderable-list__item--dragging {
  min-width: calc(var(--drag-width) * 1px + 2rem);
  min-height: calc(var(--drag-height) * 1px + 2rem);
}
.reorderable-list__item:hover {
  background-color: rgba(255, 255, 255, 0.2);
}
.reorderable-list__item__content {
  padding: 1rem;
  background-color: var(--color-primary);
  cursor: grab;
}
.reorderable-list--dragging {
  cursor: grabbing;
}
.reorderable-list__item--dragging .reorderable-list__item__content {
  pointer-events: none;
  touch-action: none;
  position: fixed;
  top: calc((var(--mouse-y) - var(--drag-y)) * 1px);
  left: calc((var(--mouse-x) - var(--drag-x)) * 1px);
  width: calc(var(--drag-width) * 1px);
  height: calc(var(--drag-height) * 1px);
  box-shadow: 0 0.2rem 0.4rem rgba(20, 20, 20, 0.2);
  /* Rotate based on speed */
  transform-origin: calc(var(--drag-x) * 1px) calc(var(--drag-y) * 1px);
  transition: transform linear 0.1s;
  transform: rotateZ(min(10deg, calc(2deg * var(--mouse-speed-x))));
}
