.study-page {
  padding-top: 1rem;
  display: flex;
  justify-content: space-between;
  overflow: hidden;
  flex-direction: column-reverse;
}
@media only screen and (min-width: 1000px) {
  .study-page {
    flex-direction: row;
    max-height: calc(100vh - 1px * var(--header-height) - 1rem);
  }
}
