.timeline {
  --timeline-scale: 2000;
  --timeline-start: 0;
  --timeline-end: 2000;
  display: grid;
  grid-gap: 1em;
  padding: 1em;
  grid-template-columns: max-content minmax(0, 1fr) minmax(0, 2fr);
  --timeline-length: calc(var(--timeline-end) - var(--timeline-start));
}
.timeline-section {
  position: relative;
}
.timeline-markers {
  text-align: right;
  border-right: 0.2em solid;
}
.timeline-marker {
  margin-bottom: calc(0.001em * var(--timeline-scale));
  transform: translateY(-50%);
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.timeline-marker::after {
  content: " ";
  width: 1em;
  height: 0.2em;
  background-color: var(--color-text);
  margin-left: 0.25em;
  margin-right: -0.15em;
}
.timeline-range {
  position: absolute;
  left: 0;
  right: 0;
  --range-start: 0;
  --range-end: 10;
  --range-length: calc(var(--range-end) - var(--range-start));
  top: calc(
    100% * (var(--range-start) - var(--timeline-start)) / var(--timeline-length)
  );
  height: calc(100% * var(--range-length) / var(--timeline-length));
}
.timeline-range {
  background-color: var(--color-primary);
  opacity: 0.6;
  z-index: calc(var(--range-start) - var(--timeline-start) + 1);
  transition-property: blur, opacity;
  transition-duration: 0.3s;
  transition-timing-function: ease;
}
.timeline-range:hover {
  opacity: 0.9;
  backdrop-filter: blur(2px);
  z-index: calc(var(--timeline-end) + 1);
}
.timeline-event {
  position: absolute;
  background-color: var(--color-primary);
  width: 100%;
  --event-start: 0;
  top: calc(
    100% * (var(--event-start) - var(--timeline-start)) / var(--timeline-length)
  );
  height: 200px;
}
